# VADSTI 2023

# Module 2: Data Exploration and Visualization

# Exploring Pandas Exercise

### Dataset
This dataset contains the medical records of 299 patients who had heart failure, collected during their follow-up period, where each patient profile has 13 clinical features.

Attribute Information:

Thirteen (13) clinical features:

- age: age of the patient (years)
- anaemia: decrease of red blood cells or hemoglobin (boolean)
- high blood pressure: if the patient has hypertension (boolean)
- creatinine phosphokinase (CPK): level of the CPK enzyme in the blood (mcg/L)
- diabetes: if the patient has diabetes (boolean)
- ejection fraction: percentage of blood leaving the heart at each contraction (percentage)
- platelets: platelets in the blood (kiloplatelets/mL)
- sex: woman or man (binary)
- serum creatinine: level of serum creatinine in the blood (mg/dL)
- serum sodium: level of serum sodium in the blood (mEq/L)
- smoking: if the patient smokes or not (boolean)
- time: follow-up period (days)
- [target] death event: if the patient deceased during the follow-up period (boolean)
    
Data Source:
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/00519/heart_failure_clinical_records_dataset.csv")

#### Load the dataset

In [1]:
import pandas as pd

df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/00519/heart_failure_clinical_records_dataset.csv")

In [2]:
df

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270,0
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271,0
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278,0
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280,0
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285,0

#### Code to randomly add 5% null values into the dataset. [DO NOT CHANGE]

In [3]:
import collections
import random
import numpy as np

replaced = collections.defaultdict(set)
ix = [(row, col) for row in range(df.shape[0]) for col in range(df.shape[1])]
random.shuffle(ix)
to_replace = int(round(.05*len(ix)))
for row, col in ix:
    if len(replaced[row]) < df.shape[1] - 1:
        df.iloc[row, col] = np.nan
        to_replace -= 1
        replaced[row].add(col)
        if to_replace == 0:
            break

#### Check for null values

In [4]:
df.isnull().sum()

age                         21
anaemia                     19
creatinine_phosphokinase    13
diabetes                    17
ejection_fraction           16
high_blood_pressure          9
platelets                   17
serum_creatinine            17
serum_sodium                10
sex                         10
smoking                     23
time                        16
DEATH_EVENT                  6
dtype: int64

#### Delete null values in each row of the dataframe ```df``` and reset the index of each rows.

In [8]:
df.dropna(axis = 0, inplace= True)
df.reset_index(drop=True, inplace=True)

#### display datatypes for each column

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       150 non-null    float64
 1   anaemia                   150 non-null    float64
 2   creatinine_phosphokinase  150 non-null    float64
 3   diabetes                  150 non-null    float64
 4   ejection_fraction         150 non-null    float64
 5   high_blood_pressure       150 non-null    float64
 6   platelets                 150 non-null    float64
 7   serum_creatinine          150 non-null    float64
 8   serum_sodium              150 non-null    float64
 9   sex                       150 non-null    float64
 10  smoking                   150 non-null    float64
 11  time                      150 non-null    float64
 12  DEATH_EVENT               150 non-null    float64
dtypes: float64(13)
memory usage: 15.4 KB

In [10]:
df.isnull().sum()

age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
DEATH_EVENT                 0
dtype: int64

#### Display summary statistics of dataset of ```df```. Hint use the ```describe()``` function.

In [21]:
df.describe()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
count,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000
mean,61.466667,0.406667,621.213333,0.453333,38.220000,0.420000,261466.922200,1.377867,136.700000,0.626667,0.280000,123.740000,0.306667
std,11.205623,0.492857,1055.839331,0.499485,10.900323,0.495212,81245.145272,0.956419,4.237496,0.485310,0.450503,79.078708,0.462655
min,40.000000,0.000000,30.000000,0.000000,20.000000,0.000000,25100.000000,0.500000,113.000000,0.000000,0.000000,4.000000,0.000000
25%,53.250000,0.000000,115.750000,0.000000,30.000000,0.000000,216500.000000,1.000000,135.000000,0.000000,0.000000,59.250000,0.000000
50%,60.000000,0.000000,330.500000,0.000000,38.000000,0.000000,259500.000000,1.100000,137.000000,1.000000,0.000000,107.500000,0.000000
75%,68.000000,1.000000,582.000000,1.000000,45.000000,1.000000,302000.000000,1.400000,139.000000,1.000000,1.000000,197.000000,1.000000
max,95.000000,1.000000,7861.000000,1.000000,70.000000,1.000000,543000.000000,9.000000,145.000000,1.000000,1.000000,285.000000,1.000000

#### Create a new dataframe ```df_diab_blood_pressue```. This dataframe should only consist of people within the age of 40 to 55 with diabetes and highblood pressure. Note: A value of 1 =  Yes and 0 = No.

In [12]:
df_diab_blood_pressue = df[(df['high_blood_pressure'] == 1) & (df['diabetes'] == 1) & (df['age'] >= 40) & (df['age'] <= 55)]

#### Return the size of the ```df_diab_blood_pressue``` (Hint: use the ```shape``` datafield)

In [13]:
df_diab_blood_pressue.shape

(5, 13)

#### Create another new dataframe ```df_platelets```. This dataframe should only consist of data with platelets over 200000.

In [14]:
df_platelets = df[(df['platelets'] > 200000)]

#### Return the size of the ```df_platelets```

In [15]:
df_platelets.shape

(121, 13)

#### Merge ```df_diab_blood_pressue``` and ```df_platelets``` to a new dataframe ```df_merge```

In [16]:
#We can achieve this by using the concat function...this can also be done using 
df_merge = pd.concat([df_diab_blood_pressue, df_platelets], axis=0)

#### Save dataframe ``df_platelets`` as a ``./export/merged_file.csv`` file

In [19]:
df_platelets.to_csv("../exports/merged_file.csv")